<nav class="flex gap-5 py-5 px-5 bg-slate-100">
  <a href="/" class="font-bold uppercase">My App</a>
  <ul class="flex gap-5">
    <li>
      <%= link_to 'Home', root_path %>
    </li>
    <li>
      <%= link_to 'About', about_path, class: '' %>
    </li>
  </ul>
</nav>